
<h2 class="text-2xl font-bold mb-4">All Celebrities</h2>
<ul class="list-disc pl-5 space-y-2">
    {{#each celebrities}}
    <li class="text-lg text-gray-700">{{this.name}}</li>
    {{/each}}
</ul>

<button class="btn btn-secondary mt-3"><a
    class="text-white"
    href="/celebrities/create"
  >Create new celebrity</a></button>

